
<ng-template #divLoading>
    <mat-grid-list cols="1">
        <mat-grid-tile>
            <mat-spinner></mat-spinner>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>

<div *ngIf="hero" class="grid col-10 col-offset-1">
    <mat-card
        class="col-12 sm:col-4 xl:col-offset-1"
    >
        <img [src]="hero | heroImage"  [alt]="hero.superhero" mat-card-image />
    </mat-card>

    <mat-card class="col-12 sm:col-8 xl:col-6">
        <mat-card-header>
            <mat-card-title> {{ hero.superhero }} </mat-card-title>
            <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>
        </mat-card-header>


        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <strong>First appearance: </strong>{{ hero.first_appearance }}
                </mat-list-item>

                <mat-list-item>
                    <strong>Characters: </strong>{{ hero.characters }}
                </mat-list-item>

                <mat-list-item>
                    <strong>Publisher: </strong>{{ hero.publisher.name }}
                </mat-list-item>

                <mat-list-item>
                    <strong>Created By: </strong>{{ hero.created_by.name }}
                </mat-list-item>

            </mat-list>

            <div class="flex">
                <button
                    mat-button
                    color="warn"
                    (click)="goBack()"
                    class="mr-2"
                >
                    Go back
                </button>


                <ng-container *ngIf="disabledEdit; else infoEdit">
                    <button
                        mat-button mat-raised-button
                        color="primary"
                        [routerLink]="['/heroes/edit', hero._id]"
                    >
                        <mat-icon>edit</mat-icon>
                        Edit
                    </button>
                </ng-container>

                <ng-template #infoEdit>
                    <button disabled mat-button>
                        <mat-icon>info</mat-icon>
                        Solo puedes editar tus héroes
                    </button>
                </ng-template>

            </div>


        </mat-card-content>
    </mat-card>
</div>
