<h1>{{ currentHero._id ? 'Edit' : 'Add' }} hero</h1>
<mat-divider class="mb-2"></mat-divider>

<div class="grid">

    <div class="col-12 sm:col-6 md:col-4 lg:col-3 md:col-offset-1 lg:col-offset-2">
        <mat-card>

            <img
                [src]="tempImage ? tempImageUrl : currentHero | heroImage"
                [alt]="tempImage ? 'Imagen Temporal' : 'Imagen del Héroe'"
                mat-card-image
                *ngIf="tempImage || currentHero"
            />

        </mat-card>
    </div>

    <div class="col-12 sm:col-6 xl:col-4 lg:col-offset-1">
        <mat-card>
            <mat-card-content>

                <div class="mb-3 flex justify-content-end">
                    <button
                        *ngIf="currentHero._id"
                        color="warn"
                        (click)="onDeleteHero()"
                        mat-icon-button
                    >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

                <form
                    class="grid"
                    [formGroup]="heroForm"
                    (ngSubmit)="onSubmit()"
                >
                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Super Hero</mat-label>
                        <input
                            type="text"
                            matInput
                            required
                            formControlName="superhero">
                    </mat-form-field>

                    <mat-form-field class="col-12 sm:col-6">
                        <mat-label>Alter Ego</mat-label>
                        <input
                            type="text"
                            matInput
                            required
                            formControlName="alter_ego"
                        >
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Primer Aparicion</mat-label>
                        <input
                            type="text"
                            matInput
                            required
                            formControlName="first_appearance"
                        >
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Personajes</mat-label>
                        <input
                            type="text"
                            matInput
                            required
                            formControlName="characters"
                        />
                    </mat-form-field>


                    <mat-form-field class="col-12">
                        <mat-label>Publisher</mat-label>
                        <mat-select
                            required=""
                            formControlName="publisher"
                        >
                            <mat-option
                                *ngFor="let publisher of publishers"
                                [value] = "publisher._id"
                            >
                                {{ publisher.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <!-- <mat-label>Alternative Image</mat-label> -->

                        <button
                            type="button"
                            mat-raised-button
                            (click)="fileInput.click()"
                        >
                            Choose File
                        </button>
                        <span for="">{{ this.tempImage?.name }}</span>

                        <input
                            hidden
                            (change)="onFileSelected($event)"
                            #fileInput
                            type="file"
                            id="file"
                        />

                        <input
                            hidden
                            type="text"
                            matInput
                            formControlName="alt_img"
                        >

                    </mat-form-field>
                </form>



                <div class="flex justify-content-between">

                    <button
                        mat-rised-button
                        color="primary"
                        (click)="onCancel()"
                        [disabled]="disabledActionButtons"
                    >
                        Cancel
                    </button>


                    <button
                        mat-flat-button
                        color="primary"
                        (click)="onSubmit()"
                        [disabled]="disabledActionButtons"
                    >
                        <mat-icon>save</mat-icon>
                        Save
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
