<div class="flex flex-column">
    <span class="text-lg-mb-4">Login</span>

    <form
        class="grid"
        [formGroup]="loginForm"
        (ngSubmit)="onLogin()"
    >
        <mat-form-field class="col-12">
            <mat-label>Email</mat-label>
            <input
                type="text" matInput required
                formControlName="email"
            />
        </mat-form-field>

        <mat-form-field class="col-12">
            <mat-label>Contrasena</mat-label>
            <input
                type="password" matInput required
                formControlName="password"
            />
        </mat-form-field>

    </form>

    <button
        mat-button mat-flat-button
        color="primary"
        (click)="onLogin()"
        [disabled]="disabledActionButton"
    >
        <mat-icon>save</mat-icon>
        Ingresar
    </button>

    <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/new-account">¿No tienes una cuenta?</a>
    </div>


    <div *ngFor="let error of errors" class="">
        <button mat-button color="warn">{{ error }}</button>
    </div>
</div>
