<div class="flex flex-column">
    <span class="text-lg-mb-4">Register</span>

    <form
        class="grid"
        [formGroup]="userForm"
        (ngSubmit)="onRegisterUser()"
    >
        <mat-form-field class="col-12">
            <mat-label>Nombre de Usuario</mat-label>
            <input
                type="text"
                matInput
                formControlName="name"
                required
            />
        </mat-form-field>

        <mat-form-field class="col-12">
            <mat-label>Correo</mat-label>
            <input
                type="email"
                matInput
                formControlName="email"
                required
            />
        </mat-form-field>

        <mat-form-field class="col-12">
            <mat-label>Contrasena</mat-label>
            <input
                type="password"
                matInput
                formControlName="password"
                required
            />
        </mat-form-field>
    </form>




    <button
        mat-button mat-flat-button
        color="primary"
        (click)="onRegisterUser()"
        [disabled]="disabledActionButton"
    >
        <mat-icon>save</mat-icon>
        Crear cuenta
    </button>

    <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/login">¿Ya tienes una cuenta?</a>
    </div>

    <div *ngFor="let error of errors" class="">
        <button mat-button color="warn">{{ error }}</button>
    </div>
</div>
